$bg: #ebebeb;
$grey: #d3d3d3;
$orange: #ff652f;
$yellow: #ffe400;
$green: #14a76c;

body {
  background-color: $bg;
}

.grid {
  margin: auto;
  width: 50%;
  // height: 100%;
  border: 2px solid black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  overflow: hidden;
}

.rowContainer {
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row;
  -webkit-flex-flow: row;
  justify-content: space-around;
}

.wrapper2 {
  margin: 50px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
