// .visualizer {
//   display: flex;
// }

// .grid {
//   display: grid;
//   grid-template-columns: repeat(60, 1fr);
//   grid-column-gap: 0px;
//   grid-row-gap: 0px;
// }

.rowContainer {
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row;
  -webkit-flex-flow: row;
  justify-content: space-around;
}
