$bg: #ebebeb;
$grey: #d3d3d3;
$orange: #ff652f;
$yellow: #ffe400;
$green: #14a76c;

body {
  background-color: $bg;
}

.wrapper3 {
  width: 100%;
  text-align: left;
  margin-bottom: 24px;
  padding: 16px;
  padding-bottom: 8px;
  border-bottom: 1px dashed rgb(155, 153, 153);
  padding-left: 50px;
  overflow: hidden;
}

.grid {
  margin: auto;
  width: 50%;
  // height: 100%;
  border: 2px solid black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  overflow: hidden;
}

.rowContainer {
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row;
  -webkit-flex-flow: row;
  justify-content: space-around;
}

.wrapper2 {
  margin: 50px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  h2 {
    width: 100%;
  }
}
