$bg: #dfdfdf;
$grey: #747474;
$orange: #ff652f;
$yellow: #ffe400;
$green: #14a76c;

.node {
  background: $bg;
  border: 0.5px dashed rgb(207, 205, 205);
  color: white;
  box-sizing: border-box;
  flex: 1 0 auto;
  height: auto;
}

.node:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.wall {
  border: 0.5px dashed rgb(41, 41, 41);
  background: black;
  animation-name: appear;
  animation-duration: 0.15s;
}

.visited {
  background-color: rgb(207, 45, 59);
  border: 0.5px dashed rgb(124, 10, 10);
}

.start {
  background: yellow;
}

.isFilled {
  background: rgb(185, 8, 91);
  animation-timing-function: ease-out;
  animation-name: appearFlood;
  animation-duration: 0.2s;
}

@keyframes appear {
  0% {
    transform: scale(0.25);
  }

  60% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

$green:rgb(108, 241, 90);
@keyframes appearFlood {
  0% {
    transform: scale(0.25);
  }

  60% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
    
  }
}
