$bg: #dfdfdf;
$grey: #747474;
$orange: #ff652f;
$yellow: #ffe400;
$green: #14a76c;

.node {
  background: $bg;
  border: 0.5px dashed rgb(207, 205, 205);
  color: white;
  box-sizing: border-box;
  flex: 1 0 auto;
  height: auto;
}

.node:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.wall {
  border: 0.5px dashed rgb(41, 41, 41);
  background: black;
}

.visited {
  background-color: rgb(207, 45, 59);
  border: 0.5px dashed rgb(124, 10, 10);
}

.start {
  background: yellow;
}

.isFilled {
  background: rgb(185, 8, 91);
}