$bg: #f0f0f0;
$grey: #d3d3d3;
$orange: #ff652f;
$yellow: #ffe400;
$green: #14a76c;
#speedcol {
  padding: 0px !important;
}
.control-panel {
  // border: 1px dashed rgb(30, 151, 91);
  // min-width: 30%;
  // max-width: 40%;
  background-color: $grey;
  padding: 16px;
  padding-top: 10px;
  padding-bottom: 20px;
<<<<<<< HEAD
=======

  // display: flex;
  // align-content: center;
  // justify-content: flex-start;
  // flex-direction: column;
>>>>>>> a59044b5f31953e340f2b2290cf028301057bfe2

  border: 2px solid rgb(0, 0, 0);

  border-radius: 4px;
  -moz-border-radius: 4px;
  overflow: hidden;
<<<<<<< HEAD
  
  float: left;
  width: 300px;
=======

  // .dropdown {
  //   text-align: left;
  //   button {
  //     width: 100% !important;
  //   }
  // }
  label {
    font-weight: bold;
  }
>>>>>>> a59044b5f31953e340f2b2290cf028301057bfe2
  input {
    width: 80%;
    padding: 4px !important;
  }
  #default-checkbox {
    width: auto;
  }

  .input-group-text {
  }
  .bg {

  }
  .input-group {
    width: 100% !important;
  }

  .form-group {
<<<<<<< HEAD
=======
    // text-align: left !important;
    padding: 0px 8px 0px 8px;
>>>>>>> a59044b5f31953e340f2b2290cf028301057bfe2

    button {
      width: 30px !important;
      font-weight: bold;
    }
    margin-bottom: 0px;
  }
  .inputLabel {
    font-weight: bold;
    text-align: left;
  }

  .buttonWrapper {
    width: 100%;
    button {
      width: 100%;
    }
  }

  button {
    margin-bottom: 16px;
  }
  .abort {
    color: red !important;
  }

  * {
    h1 {
      text-align: center !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .main-container {
    // display: flex;
    padding: 4px;
    margin: 4px;
  }
  .grid {
    margin:auto;
    width:50%;
    // flex: 2;
    order: 2;
    
    // margin-left: 0;
  }
  .control-panel {
    // flex: 1;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .vis-wrapper {
    display: flex;
    padding: 4px;
    
    margin: 4px;
  }
  .grid {
    flex: 1;
    order: 2;
    width: 100%;
    margin-left: 0;
  }
  .control-panel {
    padding: 10px;
    margin: 0px;
    margin-bottom: 20px;
    min-width: 100%;
    max-width: 100%;
    line-height: 10px;

    .form-group {


      .col {
        margin: 0px !important;
      }
    }

    .buttonWrapper {
      button {
        width: 29%;
        margin-left: 4px;
        margin-right: 4px;

        min-height: 100% !important;
        max-height: 100% !important;
      }
    }
  }
}

@media (max-width: 500px) {
  .vis-wrapper {
    display: flex;
    padding: 4px;
    margin: 4px;
  }
  .grid {
    flex: 1;
    order: 2;
    width: 100%;
    margin-left: 0;
  }
  .control-panel {
    padding: 10px;
    margin: 0px;
    margin-bottom: 20px;
    min-width: 100%;
    max-width: 100%;
    line-height: 10px;

    .form-group {
      // padding: 0px;
      // margin: 0px;
      // margin-left: 16px;
      // margin-right: 16px;

      .col {
        margin: 0px !important;
      }
    }

    .buttonWrapper {
      button {
        width: 100%;
        margin-left: 4px;
        margin-right: 4px;

        min-height: 100% !important;
        max-height: 100% !important;
      }
    }
  }
}
